{% extends "/layouts/dashboard_layout.html.twig" %}

{% block title %}Les tokens{% endblock %}
        
{% block body %}

	<div class="container-fluid">

	  <!-- Page Heading -->
	  <!-- DataTales Example -->
	  <div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Tables des tokens</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" margin="auto">
						<thead style="color:#005582 !important;">
							<tr>
							<th>#</th>
							<th>Type</th>
							<th>Device</th>
							<th>Latitude</th>
							<th>Longitude</th>
							<th>Date de création</th>
                            <th>Utilisateur</th>
                            <th>Voir</th>
							<th>Modifier</th>
							<th>Supprimer</th>
							</tr>
						</thead>
						<tfoot style="color:#005582 !important;">
							<tr>
							<th>#</th>
							<th>Type</th>
							<th>Device</th>
							<th>Latitude</th>
							<th>Longitude</th>
							<th>Date de création</th>
                            <th>Utilisateur</th>
                            <th>Voir</th>
							<th>Modifier</th>
							<th>Supprimer</th>
							</tr>
						</tfoot>
						<tbody>
							{% for token in tokens %}
							{% if loop.index is divisible by(2) %}
								<tr style="background-color:#f4f3f6 !important;">
									{% include "/dashboard/petsearch/token/users_array.html.twig" %}
								</tr>
								{% else %}
									<tr style="background-color:#fbf9ff !important;">
									{% include "/dashboard/petsearch/token/users_array.html.twig" %}
								</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>

					{% set countRows = tokens.getTotalItemCount %}
					{% set entity = tokens %}

					{% include "/dashboard/partials/dashboard_partials/pagination.html.twig" %}
				</div>
			</div>
	  	</div>
	</div>
{% endblock %}