{% extends "layouts/dashboard_layout.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}







<div>{{Labels,Data}}</div>











{% endblock %}


 {% block javascripts %}
    <!-- Page level plugins -->
    <script src="{{ asset( 'assets/admin/dashboard/vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ asset( 'assets/admin/dashboard/js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ asset( 'assets/admin/dashboard/js/demo/chart-pie-demo.js') }}"></script>
 {% endblock %}